SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="a432", ACTION=="add", RUN+="/sbin/modprobe -r cdc_acm"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="a432", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="rokoko-detach.service"
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="0483", ENV{ID_MODEL_ID}=="a432", ACTION=="remove", TAG+="systemd", ENV{SYSTEMD_WANTS}="rokoko-reattach.service"
