[Unit]
Description=Rokoko USB Redirect Daemon
After=libvirtd.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rokoko-usbredirect.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
